p {
	padding: 10px 10px 30px 80px;
	font-size: 1.4rem;
	text-align: left;
}
.header h2 {

}

.header h3 {
	 font-weight: bold;
}
#image-group{
	margin-bottom: 150px;
}
#group{
	 display: inline-flex;
}

#about_us_footer{
	position: relative;
	width: 100%;
	margin-left: 0px;
}
